@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

.fa-arrow-up, .fa-arrow-down, .zindex { margin-right: .5em; z-index: 1000; }

.social-icon {
  display: inline-block; width: 50px; height: 50px; position: relative; overflow: hidden; vertical-align: middle; margin-left: 10px; margin-right: 10px; margin-bottom: 20px;
}

.social-container {
  position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;
}

.social-svg {
  border-radius: 50%; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; fill-rule: evenodd;
}

.social-svg-background {
  transition: fill 170ms ease-in-out 0s; fill: transparent;
}

.social-svg-mask {
  transition: fill 170ms ease-in-out 0s; fill: rgb(254, 254, 254);
}

.react-reveal {
  animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-339944769548760-1;
}